html,
body {
  overflow-x: hidden;
}
body {
  /*background-image: url('../images/hero-image.png') no-repeat top center;
  background: linear-gradient(#5CD4C2, #FFFFFF);*/
  background: linear-gradient(#A8E3DB,#FFF) no-repeat;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  margin: 0;
}

h4,
h6 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Sanchez', serif;
}

h2 {
  color: #233331;
  font-size: 48px;
  font-weight: normal;
  text-align: center;
}

h3 {
  color: #079B8D;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 32px;
}

.feat-txt {
  color: #51706D;
  font-family: 'Raleway-Light';
  font-size: 22px ;
  font-weight: 300;
  line-height: 33px ;
}
.note-txt {
  font-family: 'Sanchez';
}
.link-txt {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}


/* GRID */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
  
.flex-container {
  align-items: center;
  display: flex;
  flex-flow: row ;
  height: 500px;
  margin: 0 2% 20px;
  min-height: 1px;
  position: relative;
  width: 85%;
}
@media (max-width: 767px){
  .flex-container {
  flex-flow: column ;
  height: 100%;
}
}
.container:before,
.container:after {
  content: ' ';
  display: table;
}
.container:after {
  clear: both;
}
.one-half,
.one-third,
.one-fourth {
  float: left;
  margin: 0 2% 20px;
  min-height: 1px;
  position: relative;
  width: 96%;
}
.half-hero{
  float: left;
  margin: 0 2% 20px;
  min-height: 1px;
  position: relative;
  width: 46%;
}
@media (max-width: 599px){
.half-hero{
  float: left;
  margin: 0 2% 20px;
  min-height: 1px;
  width: 85%;
}
}
/*MEDIA*/

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .container {
    width: 315px;
  }
}


/*Header*/
header {
  background: url(../images/hero-image.png) no-repeat top center;
  background-size: cover;
}
header nav {
  padding: 1em 0;
}
header nav ul {
  display: inline;
  float: right;
  text-align: right;
}
header nav ul > li {
  display: inline-block;
  list-style-type: none;
  margin: 0 15px;
}
header nav ul > li.btn-outline {
  background: #63D3C8;
  border: 0 solid #63D3C8;
  border-radius: 18px;
  padding: 8px 25px;
}
header nav ul > li.btn-outline:hover {
  background: #FFF;
  border: 0 solid #FFF;
}
header nav ul > li > a {
  color: #FFF;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color: #63D3C8;
}
header .hero {
  display: block;
  position: relative;
  text-align: center;
}
header .hero h1 {
  color: #FBFEFD;
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 67px;
}
header .hero p {
  color: #FBFEFD;
  font-size: 24px;
  font-weight: 100;
  line-height: 33px;
  margin: 10px 0 60px;
}
header .hero img {
  display: block;
  margin: 3em auto ;
  margin-top: 116px;
}


/* BUTTONS */
.btn {
  background: #F15D25;
  border-radius: 18px;
  box-shadow: 0 2px 0 0 #F15D25;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  padding: 8px 30px;
  text-decoration: none;
}
.grn-btn {
  background: #63D3C8;
  border-radius: 18px;
  box-shadow: 0 2px 0 0 #63D3C8;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  padding: 8px 30px;
  text-decoration: none;
}
.triangle-arrow {
  mix-blend-mode: overlay;
}

/*Fox in a box*/
@media (min-width: 700px) {
  .fox-in-box {
  background: url('../images/fox-box-img.png') no-repeat bottom center;
  height: 790px;
}
.fox-in-box p {
  left: -35px;
  margin: auto;
  padding-top: 110px;
  position: relative;
}
.fox-in-box h2 {
  padding-top: 100px;
}
.box-txt {
  color: #FBFEFD;
  font-size: 22px;
  font-weight: 200;
  line-height: 38px;
  text-align: center;
  width: 393px;
}
}
@media (max-width: 699px) {
.fox-in-box {
  background: #C2EBE6;
  height: 100%;
  margin-bottom: 40px;
}
.fox-in-box p {
  margin: auto;
  padding-top: 15px;
  position: relative;
}
.fox-in-box h2 {
  padding-top: 50px;
  color: #079B8D;
}
.box-txt {
  color: #61A39C;
  font-size: 22px;
  font-weight: 300;
  line-height: 38px;
  text-align: center;
}
}

/*BENEFITS*/
li {
  list-style: none;
}

.feature-box {
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 5px 4px 10px 0 rgba(0,0,0,.12);
  float: right;
  height: 683px;
  width: 1290px;
}
.feature-box-right {
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 5px 4px 10px 0 rgba(0,0,0,.12);
  float: left;
  height: 683px;
  margin: 100px;
  width: 1290px;
}
.feature-image {
  padding: 116px 0;
}
.feature-image-right {
  float: right;
  padding: 116px 0;
  position: absolute;
}
.feature-txt-top {
  float: right;
  margin-right: 95px;
  padding: 96px 0 116px;
  text-align: left;
  width: 294px;
}
.feature-txt-right {
  float: left;
  margin-left: 97px;
  margin-right: 70px;
  padding: 116px 0;
  text-align: right;
  width: 294px;
}
.feature-txt {
  float: right;
  margin-left: 70px;
  margin-right: 97px;
  padding: 116px 0;
  text-align: left;
  width: 294px;
}
.benefits i {
  color: #079B8D;
  font-size: 44px;
  margin: 0;
  opacity: .5;
  vertical-align: middle;
}

@media (max-width: 770px){
.feature-txt-top, .feature-txt-right, .feature-txt {
  float: none;
  margin: auto;
  text-align: center;
  padding: 0;
  width: 98%;
}
.feature-box, .feature-box-right {
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 5px 4px 10px 0 rgba(0,0,0,.12);
  /*float: none;*/
  height: 100%;
  width: 100%;
  margin: 15px auto;
  padding: 15px;
  }
  .feature-image-right, .feature-image {
  display: none;
  /*float: none;
  padding: 0;
  position: relative;
  width: 100%;*/
}
h3{
margin: 15px auto;
  }
}

/*PRICING*/
.pricing {
  padding: 4em 0;
  text-align: center;
}
.pricing ul {
  margin: 0 auto;
  padding: 2em 0;
}
.box {
  align-self: center;
  background: #FFF;
  border-radius: 80px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.10);
  flex: 1 1 33%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
  min-height: 400px;
  padding: 0 15px 15px;
  position: relative;
  width: 20%;
}
.box.middle {
  align-self: center;
  flex: 1 1 40%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0;
  min-height: 497px;
  min-width: 20%;
}
.box.middle h4 {
  background: #F15D25;
}
.box h4 {
  background: #079B8D;
  border-radius: 80px 80px 0 0;
  color: white;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: 500;
  height: 60px;
  left: 0;
  margin: 0 -15px 30px;
  padding: 30px 0 0 10px;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}
.box.middle h5 {
  font-size: 80px;
  margin-left: 9px;
}
.box h5 {
  color: #079B8D;
  font-family: sanchez;
  font-size: 36px;
  font-weight: normal;
  margin: 0 auto -22px;
}
.box h5 span {
  font-size: 24px;
  vertical-align: top;
}
.box h5 span.month {
  color: #079B8D;
  font-size: 24px;
  font-weight: 100;
  vertical-align: middle;
}
.box ul li {
  color: #079B8D;
  font-size: 18px;
  font-weight: 100;
  margin: 15px auto 5px;
}
.box .btn {
  bottom: 36px;
  display: inline-block;
  left: 20px;
  margin: auto;
  right: 20px;
}
.box .grn-btn {
  display: inline-block;
}
.small {
  color: #233331;
  font-size: 12px;
  font-style: italic;
  line-height: 15px;
}

@media (max-width: 767px){
.box {
  margin: 20px auto;
  min-height: 415px;
  padding: 0 15px 15px;
  position: relative;
  width: 70%;
}
}

/*mockup*/
#mockup {
  bottom: 0;
  display: block;
  margin: 0 auto;
  text-align: center;
}

/*FOOTER*/
footer {
  background-image: linear-gradient(to top,
  #AFEAE1 0%, #AFEAE1 50%, #51706D 50%, #51706D 100%);
  color: #FFF;
  height: 80px;
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
footer p,
footer nav ul {
  font-size: 14px;
  font-weight: 150;
  margin: 10px auto 0;
  text-align: center;
}
footer nav ul li {
  display: inline;
  list-style-type: none;
}
footer nav ul li a {
  color: #FFF;
  text-decoration: none;
}
footer .right-footer-block {
  background-color: transparent;
}
footer .logo {
  display: block;
  margin: 0 auto;
  padding: .35em 0;
}
@media (min-width: 992px) {
  footer {
    background-color: #51706D;
    background-image: linear-gradient(to left,
    #51706D 0%, #51706D 33.33337%, #51706D 33.33337%, #51706D 100%);
    height: 80px;
  }
  footer p,
  footer nav ul {
    padding: 1.75em 0;
    text-align: left;
  }
  footer .right-footer-block {
    background-color: #51706D;
  }
  footer .logo {
    padding: .5em 0 2em 0;
  }
}
/* DASHBOARD */
.dashboard {
  background-image: linear-gradient(0deg, #FFF 13%, #D0F6F0 100%);
}
/*----hamburger----*/
.left-nav {
   height: 75px;
   width:100%;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.10);
   position:absolute;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,-555px);
     -webkit-transform: translate(0,-555px); /** Chrome & Safari **/
     -o-transform: translate(0,-555px); /** Opera **/
     -moz-transform: translate(0,-555px); /** Firefox **/
 }
 
 .left-nav.open {
  background: #EFFBFA;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.10);
  height: 555px;
  width: 100%;
  position: absolute;  
  z-index: 1;
-webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
 }

.hamburger {
   position:absolute;
   z-index: 1000;
   background:#F15D25;
   color:#FFF;
   text-decoration: none;
   font-size: 22px;
   padding: 10px 15px;
   border-radius: 4px;
   left: 5px;
   top: 15px;
 }

 .left-nav .site-logo {
  display: table;
  padding: 7px 22px 17px;
  margin:auto;
  }

.left-nav .items {
  margin: auto;
  display: table;
}
.up-btn {
  background: #63D3C8;
  border-radius: 20px;
  box-shadow: 0 2px 0 0 #63D3C8;
  color: #FFF;
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin: auto;
  padding: 6px 15px;
  text-decoration: none;
  text-align: center;
  width: 235px;
}
.left-nav .settings {
  margin: auto;
  padding: 10px 20px 0 0;
  text-align: center;
  position: relative;
}

.content .header {
  float: right;
  margin: 0px 0 -20px;
}

/*----end hamburger----*/

 @media (min-width:992px) {
.left-nav {
  background: #D0F6F0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.10);
  height: 75px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
       transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
}
.left-nav.open {
  background: #D0F6F0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.10);
  height: 75px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }

.hamburger{
  display: none;
}

.left-nav .site-logo {
  display: block;
  float: left;
  padding: 7px 22px 17px;
  text-align: left;
}
.left-nav .items {
  float: right;
  margin: 14px 10px 12px 0;
  padding: 0 6%;
}
.left-nav .items ul {
  margin: 0 ;
  padding: 0;
}
.up-btn {
  background: #63D3C8;
  border-radius: 20px;
  box-shadow: 0 2px 0 0 #63D3C8;
  color: #FFF;
  display: inline;
  float: left;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 14px;
  margin-top: 20px;
  padding: 6px 15px;
  text-decoration: none;
  text-align: center;
  width: 100px;
}
}

.items li {
  float: left;
  list-style-type: none;
  margin-bottom: 16px;
  margin-right: 50px;
  margin-left: 16px;
  text-align: center;
  width: 40px;
}
.plus-btn li {
  float: right;
  margin-bottom: 16px;
  margin-right: 4px;
  text-align: center;
  width: 40px;
}
.plus-btn .dropit .dropit-submenu {
  top:-194px;
  left: -34px;
  }
  .plus-btn .dropit .dropit-open .dropit-submenu {
    border-radius: 4px;
  }

.left-nav .items ul li a, .plus-btn ul li a, .settings ul li a {
  color: #51706D;
  font-weight: 100;
  text-decoration: none;
}
.left-nav ul li img {
  margin: 0;
}
.dropit .dropit-submenu {
  top:111%;
  left: -34px;
  }

/* LEFT NAVBAR SETTINGS */
 @media (min-width:992px) {
.left-nav .settings {
  bottom: 0;
  float: right;
  position: absolute;
  right: 0;
  margin: 0 5px 5px 0;
}
}
.left-nav .settings img {
  border-radius: 50%;
  display: block;
  height: 35px;
  margin-left: 22px;
}
.left-nav .settings p {
  color: #51706D;
  display: inline-block;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding-top: 8px;
  vertical-align: top;
}
.left-nav .settings a {
  color: #51706D;
  display: inline-block;
  margin-top: 8px;
}
.left-nav .settings a:last-child {
margin-bottom: 6px;
}

.settings li {
  list-style-type: none;
  text-align: left;
}
.settings .dropit .dropit-submenu {
    position: absolute;
    top: 109%;
    left: -76px; /* dropdown left or right */
    z-index: 1000;
    display: none;
    list-style: none;
  padding: 0px;
  margin: 0;
  max-width: 215%;
}
.settings .dropit .dropit-open .dropit-submenu li:last-child {
  margin-bottom: 15px;
 }

/*DASHBOARD CONTENT */
.content {
  padding: 6em 1% 1.5em;
  position: relative;
  width: 98%;
}
@media (min-width:992px) {
.content .header {
  float: right;
  margin: 80px 0 -20px;
}
}
.content .plus-btn {
  float: right;
  width: 45px;
}
.content .header h1 {
  color: #61A39C;
  display: inline-block;
  float: left;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 44px;
  margin: 0 0 30px;
}
.content .header > a, .content .plus-btn > a {
  float: right;
}
.plus-btn{
  margin-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax (100px, auto);
  grid gap: 1 rem;
  grid-auto-flow: dense;
}

.content-item {
  /*height: 200px;
  /*width: 200px;*/
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.40);
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.vertical {
  grid-row: span 2;
}
.horizontal {
  grid-column: span 2;
}

/*SMALL MOBILE DEVICES*/
@media only screen and (min-device-width : 320px) {
  .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax (100px, auto);
  grid gap: 1 rem;
  grid-auto-flow: dense;
}
.horizontal {
  grid-column: span 1;
}
/* Larger Mobile Devices */
@media (min-width:460px) {
  .content {
    margin: auto;
    padding: 1.5em 1%;
    position: relative;
    width: 100%;
  }
  .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax (100px, auto);
  grid gap: 1 rem;
  grid-auto-flow: dense;
}
.horizontal {
  grid-column: span 2;
}
}
/* Tablets */
@media (min-width:768px) {
  .content {
    margin: auto;
    padding: 1.5em 5%;
    position: relative;
    width: 100%;
  }
  .content > .container {
    width: 700px;
  }
  .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax (100px, auto);
  grid gap: 1 rem;
  grid-auto-flow: dense;
}
}
/* Laptops and Desktops */
@media (min-width:992px) {
  .content {
    margin: auto;
    padding: 1.5em 1%;
    position: relative;
    width: 85%;
  }
  .content > .container {
    width: auto;
  }
  .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax (100px, auto);
  grid gap: 1 rem;
  grid-auto-flow: dense;
}
}

/*Content items*/
.content-item img{
  margin: auto;
  object-fit: contain;
  /*width: 100%;*/
}
.container {
  margin: auto;
}
.content-item h4 {
  font-family: 'Sanchez', serif;
  font-size: 16px;
  line-height: 17px;
  margin: 15px;
  text-align: center;
}
.content-item h4 a,
.content-item h4 a {
  color: #FFF;
  float: left;
  font-family: 'Raleway';
  font-size: 22px;
  font-weight: 100;
  margin: 0;
  text-align: left;
  text-decoration: none;
}
.content-item p {
  color: #333;
  font-size: 14px;
  line-height: 18px;
  margin: 15px ;
}
#meetup {
  background: #FFF url('../images/park-group.png') no-repeat;
  background-size: cover;
}
#wework {
  background: #FFF url('../images/office-group.png') no-repeat;
  background-size: cover;
}
#ted{
  background: #FFF url('../images/ted-bkgd.png') no-repeat;
  background-size: cover;
}
#meetup img,
#wework img,
#ted img {
  max-height: 83px;
  margin: auto;
  padding-bottom: 0;
  padding-top: 20px;
  display: block;
}
#wework p,
#meetup p,
#ted p {
  color: #FFF;
  font-weight: 300;
  size: 13px;
  margin: 15px;
  float: right;
}

