html, body  {
  overflow-x: hidden;
}
body{
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  background: #fff url('../images/hero-image.png') no-repeat top center;
  }

h4, h5, h6{
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  font-family: "Sanchez", serif;
}

h1 {
  color: #FBFEFD;
  font-size: 50px;
  font-weight: normal,
  margin-bottom; 5px;
  text-align: center;
}

h2 {
  color: #233331;
  font-size: 48px;
  font-weight: normal;
  text-align: center;
}

h3 {
  color:#079B8D;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 5px;
}

.hero-txt{
  color:#FBFEFD;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}

.box-txt{
  color:#FBFEFD;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  text-align: center;

  }

.feat-txt{
    color: #51706D;
    font-size: 22px ;
    font-weight: 300;
    line-height: 32px ;
  }


 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }
 /*end grid*/