html,
body {
  overflow-x: hidden;
}
body {
  /*background-image: url('../images/hero-image.png') no-repeat top center;
  background: linear-gradient(#5CD4C2, #FFFFFF);*/
  background: linear-gradient(#A8E3DB,#FFF);
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  margin: 0;
}

h4,
h6 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Sanchez', serif;
}

h2 {
  color: #233331;
  font-size: 48px;
  font-weight: normal;
  text-align: center;
}

h3 {
  color: #079B8D;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 5px;
}

.feat-txt {
  color: #51706D;
  font-family: 'Raleway-Light';
  font-size: 22px ;
  font-weight: 300;
  line-height: 33px ;
}
.note-txt {
  font-family: 'Sanchez';
}
.link-txt {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

/* GRID */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
  
.flex-container {
  align-items: center;
  display: flex;
  flex-flow: row ;
  height: 500px;
  margin: 0 2% 20px;
  min-height: 1px;
  position: relative;
  width: 85%;
}

/*
.flex-container-left {
  column-count: 2;
  display: flex;
  flex-flow: column wrap;
  float: left;
  height: 530px ;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 50%;
}
.flex-container-right {
  display: inline;
  flex-flow: row wrap;
  height: 468px;
  justify-content: space-between;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 50%;
}
.flex-container-bottom {
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
}
.masonery {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
*/
.container:before,
.container:after {
  content: ' ';
  display: table;
}
.container:after {
  clear: both;
}
.one-half,
.one-third,
.one-fourth {
  float: left;
  margin: 0 2% 20px;
  min-height: 1px;
  position: relative;
  width: 96%;
}

/*MEDIA*/

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .container {
    width: 315px;
  }
}


/*Header*/
header {
  background: url(../images/hero-image.png) no-repeat top center;
  background-size: cover;
}
header nav {
  padding: 1em 0;
}
header nav ul {
  display: inline;
  float: right;
  margin: 0;
  text-align: right;
}
header nav ul > li {
  display: inline-block;
  list-style-type: none;
  margin: 0 15px;
}
header nav ul > li.btn-outline {
  background: #63D3C8;
  border: 0 solid #63D3C8;
  border-radius: 18px;
  padding: 8px 25px;
}
header nav ul > li.btn-outline:hover {
  background: #FFF;
  border: 0 solid #FFF;
}
header nav ul > li > a {
  color: #FFF;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color: #63D3C8;
}
header .hero {
  display: block;
  position: relative;
  text-align: center;
}
header .hero h1 {
  color: #FBFEFD;
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 172px;
}
header .hero p {
  color: #FBFEFD;
  font-size: 24px;
  font-weight: 100;
  line-height: 33px;
  margin: 10px 0 40px;
}
header .hero img {
  display: block;
  margin: 3em auto ;
  margin-top: 116px;
}

/* BUTTONS */
.btn {
  background: #F15D25;
  border-radius: 18px;
  box-shadow: 0 2px 0 0 #F15D25;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  padding: 8px 30px;
  text-decoration: none;
}
.grn-btn {
  background: #63D3C8;
  border-radius: 18px;
  box-shadow: 0 2px 0 0 #63D3C8;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  padding: 8px 30px;
  text-decoration: none;
}
.triangle-arrow {
  mix-blend-mode: overlay;
}

/*Fox in a box*/
.fox-in-box {
  background: url('../images/fox-box-img.png') no-repeat bottom center;
  height: 790px;
}
.fox-in-box p {
  left: -35px;
  margin: auto;
  padding-top: 110px;
  position: relative;
}
.fox-in-box h2 {
  padding-top: 100px;
}
.box-txt {
  color: #FBFEFD;
  font-size: 22px;
  font-weight: 200;
  line-height: 38px;
  text-align: center;
  width: 393px;
}

/*BENEFITS*/
li {
  list-style: none;
}

.feature-box {
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 5px 4px 10px 0 rgba(0,0,0,.12);
  float: right;
  height: 683px;
  width: 1290px;
}
.feature-box-right {
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 5px 4px 10px 0 rgba(0,0,0,.12);
  float: left;
  height: 683px;
  margin: 100px;
  width: 1290px;
}
.feature-image {
  padding: 116px 0;
}
.feature-image-right {
  float: right;
  padding: 116px 0;
  position: absolute;
}
.feature-txt-top {
  float: right;
  margin-right: 95px;
  padding: 116px 0;
  text-align: left;
  width: 294px;
}
.feature-txt-right {
  float: left;
  margin-left: 97px;
  margin-right: 70px;
  padding: 116px 0;
  text-align: right;
  width: 294px;
}
.feature-txt {
  float: right;
  margin-left: 70px;
  margin-right: 97px;
  padding: 116px 0;
  text-align: left;
  width: 294px;
}
.benefits i {
  color: #079B8D;
  font-size: 44px;
  margin: 0;
  opacity: .5;
  vertical-align: middle;
}

/*PRICING*/
.pricing {
  padding: 4em 0;
  text-align: center;
}
.pricing ul {
  margin: 0 auto;
  padding: 2em 0;
}
.box {
  align-self: center;
  background: #FFF;
  border-radius: 80px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.10);
  flex: 1 1 33%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
  min-height: 400px;
  padding: 0 15px 15px;
  position: relative;
  width: 20%;
}
.box.middle {
  align-self: center;
  flex: 1 1 40%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0;
  min-height: 497px;
  min-width: 20%;
}
.box.middle h4 {
  background: #F15D25;
}
.box h4 {
  background: #079B8D;
  border-radius: 80px 80px 0 0;
  color: white;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: 500;
  height: 60px;
  left: 0;
  margin: 0 -15px 30px;
  padding: 20px 0 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}
.box.middle h5 {
  font-size: 80px;
}
.box h5 {
  color: #079B8D;
  font-family: sanchez;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}
.box h5 span {
  font-size: 24px;
  vertical-align: top;
}
.box h5 span.month {
  color: #079B8D;
  font-size: 24px;
  font-weight: 100;
  vertical-align: middle;
}
.box ul li {
  color: #079B8D;
  font-size: 18px;
  font-weight: 100;
  margin-top: 15px;
}
.box .btn {
  bottom: 36px;
  display: inline-block;
  left: 20px;
  margin: auto;
  right: 20px;
}
.box .grn-btn {
  display: inline-block;
}
.small {
  color: #233331;
  font-size: 12px;
  font-style: italic;
  line-height: 15px;
}

/*mockup*/
#mockup {
  bottom: 0;
  display: block;
  margin: 0 auto;
  text-align: center;
}

/*FOOTER*/
footer {
  background-image: linear-gradient(to top,
  #AFEAE1 0%, #AFEAE1 50%, #51706D 50%, #51706D 100%);
  color: #FFF;
  height: 80px;
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
footer p,
footer nav ul {
  font-size: 14px;
  font-weight: 150;
  margin: 10px auto 0;
  text-align: center;
}
footer nav ul li {
  display: inline;
  list-style-type: none;
}
footer nav ul li a {
  color: #FFF;
  text-decoration: none;
}
footer .right-footer-block {
  background-color: transparent;
}
footer .logo {
  display: block;
  margin: 0 auto;
  padding: .35em 0;
}
@media (min-width: 992px) {
  footer {
    background-color: #51706D;
    background-image: linear-gradient(to left,
    #51706D 0%, #51706D 33.33337%, #51706D 33.33337%, #51706D 100%);
    height: 80px;
  }
  footer p,
  footer nav ul {
    padding: 1.75em 0;
    text-align: left;
  }
  footer .right-footer-block {
    background-color: #51706D;
  }
  footer .logo {
    padding: .5em 0 2em 0;
  }
}
/* DASHBOARD */
.dashboard {
  background-image: linear-gradient(0deg, #FFF 13%, #D0F6F0 100%);
}
.left-nav {
  background: #D0F6F0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.10);
  height: 75px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.left-nav .site-logo {
  display: block;
  float: left;
  padding: 7px 22px 17px;
  text-align: left;
}
.left-nav .items {
  float: right;
  margin: 14px 75px 12px 0;
  padding: 0 6%;
}
.left-nav .items ul {
  margin: 0 ;
  padding: 0;
}
.left-nav .items ul li {
  float: left;
  list-style-type: none;
  margin-bottom: 16px;
  margin-right: 60px;
}
.left-nav .items ul li a {
  color: #51706D;
  font-weight: 100;
  text-decoration: none;
}
.left-nav ul li img {
  margin: 0;
}
.up-btn {
  background: #63D3C8;
  border-radius: 20px;
  box-shadow: 0 2px 0 0 #63D3C8;
  color: #FFF;
  display: inline;
  float: left;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 14px;
  margin-top: 14px;
  padding: 6px 15px;
  text-decoration: none;
}

/* LEFT NAVBAR SETTINGS */
.left-nav .settings {
  bottom: 0;
  float: right;
  left: 1150px;
  padding: 10px 0;
  position: absolute;
  right: 0;
  width: 100%;
}
.left-nav .settings img {
  border-radius: 50%;
  display: block;
  height: 35px;
  margin-left: 10px;
  width: 35px;
}
.left-nav .settings p {
  color: #51706D;
  display: inline-block;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding-top: 8px;
  vertical-align: top;
}
.left-nav .settings a {
  color: #51706D;
  display: inline-block;
  margin-right: 10px;
  margin-top: 8px;
  text-align: right;
  text-decoration: none;
}
/*DASHBOARD CONTENT */
.content {
  padding: 6em 1% 1.5em;
  position: relative;
  width: 98%;
}
.content .header {
  float: right;
  margin: 80px 1% 0;
}
.content .header h1 {
  color: #61A39C;
  display: inline-block;
  float: left;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 44px;
  margin: 0 0 30px;
}
.content .header > a {
  float: right;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax (100px, auto);
  grid gap: 1 rem;
  grid-auto-flow: dense;
}
.content-item {
  /*height: 200px;
  /*width: 200px;*/
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.40);
  margin: 10px;
  position: relative;
  overflow: hidden;
}

/*.item-box {
  /*align-self: stretch;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.40);
  margin: auto;
  overflow: hidden;
  padding: 20px;
  position: relative;
  /*height: 200px;
  width: 200px;
}*/

.vertical {
  /*background: #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.40);
  height: 466px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 200px;*/
  grid-row: span 2;
}
.horizontal {
  /*align-self: stretch;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.40);
  height: 200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 466px;*/
  grid-column: span 2;
}


/* Larger Mobile Devices */
@media (min-width:460px) {
  .content {
    margin: auto;
    padding: 1.5em 1%;
    position: relative;
    width: 100%;
  }
  /*.content-item {
    display: block;
    float: left;
    margin: 0 2% 25px;
    width: 46%;
  }*/
}
/* Tablets */
@media (min-width:768px) {
  .content {
    margin: auto;
    padding: 1.5em 5%;
    position: relative;
    width: 100%;
  }
  .content > .container {
    width: 700px;
  }
  /*.content-item {
    margin: 0 1% 25px;
    width: 31.33333%;
  }*/
}
/* Laptops and Desktops */
@media (min-width:992px) {
  .content {
    margin: auto;
    padding: 1.5em 1%;
    position: relative;
    width: 85%;
  }
  .content > .container {
    width: auto;
  }
  /*.content-item {
    margin: 0 1% 25px;
    width: 23%;
  }*/
}
/*Content items*/
.content-item img{
  margin: auto;
  object-fit: contain;
}
.container {
  margin: auto;
}
.content-item h4 {
  font-family: 'Sanchez', serif;
  font-size: 16px;
  line-height: 17px;
  margin: 15px;
  text-align: center;
}
.content-item h4 a,
.content-item h4 a {
  color: #FFF;
  float: left;
  font-family: 'Raleway';
  font-size: 22px;
  font-weight: 100;
  margin: 0 0 8px 0;
  text-align: left;
  text-decoration: none;
}
.content-item p {
  color: #333;
  float: right;
  font-size: 14px;
  line-height: 18px;
  margin: 8px ;
}
#meetup {
  background: #FFF url('../images/park-group.png') no-repeat;
  background-size: cover;
}
#wework {
  background: #FFF url('../images/office-group.png') no-repeat;
  background-size: cover;
}
#meetup > img,
#wework > img {
  height: 83px;
  margin: auto;
  padding-bottom: 0;
  padding-top: 20px;
}
#wework p,
#meetup p {
  color: #FFF;
  font-weight: 300;
  size: 13px;
}
.a {
  background: #FFF url('../images/pineapple.png') no-repeat;
  background-size: cover;
}

.g, .i{
  background: #FFF url("https://static.pexels.com/photos/101572/pexels-photo-101572.jpeg") no-repeat;
  background-size: cover;
}
